body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);

}


button:active{
    background-color: hsl(0, 0%, 50%);

}
#calculator{
    background-color: hsl(0, 0%, 15%);

    font-family: Arial, sans-serif;
max-width: 500px;
overflow: hidden;
border-radius: 15px;
}
.optr-btn{
   background-color: hsl(240, 100%, 75%);
}
.optr-btn:active{
    background-color: hsl(240, 100%, 95%);
 }
.optr-btn:hover{
    background-color: hsl(240, 100%, 80%);

 }
#display{
    background-color: hsl(0, 0%, 30%);
font-size: 5rem;
padding: 25px;
border: none;
color: white;
width: 100%;
text-align: left;
}

